__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
dist/
build/
.pytest_cache/
.venv/
.hatch/
.vscode/
todo/
start_env.*
tests/ex1/graph.dot
tests/ex1/graph.png
tests/ex1/graph.svg
tests/icon/graph.dot
tests/icon/graph.svg
